<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
    <listAttribute key="StepOutExcludePkgsOrClasses"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/tp5/src/datacloud/spark/streaming/twit/TopTwitAtTime.scala"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="datacloud.spark.streaming.twit.TopTwitAtTime"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="tp5"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tp5"/>
</launchConfiguration>
